.navbar {
    background-color: #5E7B68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #2c322e;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 3%;
}

.nav-logo {
    font-family: "DM Serif Display", serif;
    font-size: 1.2rem;
    letter-spacing: 5%;
}