.navbar {
    background-color: #5E7B68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-links a {
    padding: 10px 15px;
    display: inline-block;
}

.nav-links a:hover {
    background-color: #6b8a76;
}

.navbar a {
    color: #2c322e;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 3%;
}

.nav-logo {
    font-family: "DM Serif Display", serif;
    color: #2c322e;
    font-size: 1.3rem;
    letter-spacing: 5%;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Responsiv navbar för mindre skärmar */
@media (max-width: 600px) {
    .hamburger-menu {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 40px;
        right: 0;
        background: #5E7B68;
        flex-direction: column;
        width: 150px;
        padding: 15px;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a:hover {
    background-color: #6b8a76;
}
}