.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
}

.content {
    flex: 1;
}

footer {
    text-align: center;
    padding: 0.5rem;
    color: #2c322e;
    background-color: #5E7B68;
    font-family: "DM Sans", sans-serif;
}